@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Public Sans", sans-serif;
    height: 100vh;
    background-color: #F2F2F2;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px;
    flex-wrap: wrap;
}

.header-links{
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
}

.header-links a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}

.header-links a:hover{
    text-decoration: underline;
}

.header-link-request{
    display: flex;
    flex-wrap: wrap;
}

.header-link-request a{
    text-decoration: none;
    background: linear-gradient(45deg, hsl(192, 69%, 51%), hsl(136, 64%, 51%));
    color: white;
    padding: 13px 20px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.header-link-request a:hover{
    transform: scale(105%);
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-header{
    display: flex;
    flex-flow: column;
    margin-left: 7%;
    gap: 20px;
}

.main-header h1{
    font-weight: 300;
    font-size: 60px;
    color: hsl(233, 26%, 24%);
    
}

.main-header p{
    color: hsl(233, 8%, 62%);
    width: 80%;
}

.main-link{
    display: flex;
}

.main-header a{
    margin-top: 20px;
    text-decoration: none;
    background: linear-gradient(45deg, hsl(192, 69%, 51%), hsl(136, 64%, 51%));
    color: white;
    padding: 13px 20px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.main-link a:hover{
    transform: scale(105%);
}

.main-img{
    margin-right: 4%;
    margin-top: 2%;
}

.secao-primaria{
    padding: 3% 7%;
    background-color: #eaeaea;
   
}

.primaria-header{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.primaria-header h2{
    font-size: 35px;
    font-weight: 300;
}

.primaria-header p{
    width: 70%;
    color: hsl(233, 8%, 62%);
}

.secao-primaria-info{
    display: flex;
    background-color: #eaeaea;
    padding: 2% 7%;
}

.online-banking{
    margin-top: 7%;
    width: 30%;
}

.online-banking img{
    margin-bottom: 10%;
}

.online-banking h3{
    margin-bottom: 5%;
    font-weight: 400;
    font-size: 26px;
}

.online-banking p{
    color: hsl(233, 8%, 62%);
    width: 70%;
}

.simple{
    margin-top: 7%;
    width: 30%;
}

.simple img{
    margin-bottom: 10%;
}

.simple h3{
    margin-bottom: 5%;
    font-weight: 400;
    font-size: 26px;
}

.simple p{
    color: hsl(233, 8%, 62%);
    width: 70%;
}

.fast{
    margin-top: 7%;
    width: 30%;
}

.fast img{
    margin-bottom: 10%;
}

.fast h3{
    margin-bottom: 5%;
    font-weight: 400;
    font-size: 26px;
}

.fast p{
    color: hsl(233, 8%, 62%);
    width: 70%;
}

.openapi{
    margin-top: 7%;
    width: 30%;
}

.openapi img{
    margin-bottom: 10%;
}

.openapi h3{
    margin-bottom: 5%;
    font-weight: 400;
    font-size: 26px;
}

.openapi p{
    color: hsl(233, 8%, 62%);
    width: 70%;
}

.cards{
    margin-top: 10%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    
}

.cards-titulo{
    margin-left: 7%;
}

.cards h2{
    font-size: 36px;
    font-weight: 400;
}

.secao-cards{
    display: flex;
    gap: 40px;
    margin-left: 7%;
    flex-wrap: wrap;
    margin-top: -6%;
}

.card-receive{
    margin-top: 10%;
    height: 450px;
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: url(./images/image-currency.jpg);
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.card-receive-header{
    display: flex;
    flex-direction: column;
    padding: 80% 5%;
    gap: 20px;
}

.card-receive-header p{
    color: hsl(233, 8%, 62%);
}

.card-receive-header h3{
    font-weight: 500;
}

.card-treat{
    margin-top: 10%;
    height: 450px;
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: url(./images/image-restaurant.jpg);
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.card-treat-header{
    display: flex;
    flex-direction: column;
    padding: 80% 5%;
    gap: 20px;
}

.card-treat-header p{
    color: hsl(233, 8%, 62%);
}

.card-treat-header h3{
    font-weight: 500;
}

.card-aviao{
    margin-top: 10%;
    height: 450px;
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: url(./images/image-plane.jpg);
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.card-aviao-header{
    display: flex;
    flex-direction: column;
    padding: 80% 5%;
    gap: 20px;
}

.card-aviao-header p{
    color: hsl(233, 8%, 62%);
}

.card-aviao-header h3{
    font-weight: 500;
}

.card-festa{
    margin-top: 10%;
    height: 450px;
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: url(./images/image-confetti.jpg);
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.card-festa-header{
    display: flex;
    flex-direction: column;
    padding: 80% 5%;
    gap: 20px;
}

.card-festa-header p{
    color: hsl(233, 8%, 62%);
}

.card-festa-header h3{
    font-weight: 500;
}

footer{
    margin-top: 10%;
    background-color: hsl(233, 26%, 24%);
    height: 25%;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-around;
}

.redes{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.redes-img{
    display: flex;
    gap: 20px;
}

.links-footer1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links-footer1 a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    font-weight: 500;
    font-size: 16px;
}

.links-footer2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links-footer2 a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    font-weight: 500;
    font-size: 16px;
}

.botao{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.botao a{
    margin-top: 20px;
    text-decoration: none;
    background: linear-gradient(45deg, hsl(192, 69%, 51%), hsl(136, 64%, 51%));
    color: white;
    padding: 13px 20px;
    border-radius: 20px;
    transition: all 0.5s ease;
    width: 150px;
}

.botao a:hover{
    transform: scale(105%);
}

.botao p{
    color: grey;
}

@media (max-width:1000px){
    main{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }

    .header-link-request{
        align-items: center;
        margin: 0 auto;
    }

    .main-header p{
        margin: 0 auto;
        text-align: center;
    }

    .main-header h1{
        font-size: 30px;
        margin: 0 auto;
        text-align: center;
    }

    main img{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .main-link{
        margin: 0 auto;
        padding-bottom: 40px;
    }

    header{
        gap: 40px;
    }

    .primaria-header h2{
        text-align: center;
        margin: 0 auto;
    }

    .primaria-header p{
        text-align: center;
        margin: 0 auto;
    }

    .secao-primaria-info{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .secao-primaria-info p{
        width: 100%;
        margin: 0 auto;
    }

    .online-banking, .simple, .fast, .openapi {
        width: 100%; 
        margin-bottom: 40px; 
    }

    .secao-primaria-info h3{
        width: 100%;
    }

    .secao-primaria-info img{
        align-items: center;
        text-align: center;
    }

    .cards-titulo{
        text-align: center;
        margin: 0 auto;
    }

    .secao-cards{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    footer{
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin-top: 100px;
        gap: 10px;
    }

    .redes-img{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .redes{
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        
    }

    .links-footer1{
        text-align: center;
    }

    .links-footer2{
        text-align: center;
    }

    .botao{
        text-align: center;
        margin: 0 auto;
        align-items: center;

    }
}